<h1><%= t(:search).mb_chars.capitalize %></h1>

<br />

<%= form_tag '/search', method: :get do %>
  <div class="input-group">
    <%= text_field_tag :q, params[:q], class: 'form-control', placeholder: 'Что будем искать?' %>
    <span class="input-group-btn">
    <%= submit_tag 'Найти!', class: 'form-control' %>
    </span>
  </div>
<% end %>

<% if params[:q].present? %>
  <hr />

  <% if @posts.present? %>
    <%= cell("posts/text_block", @posts) %>
  <% else %>
    По запросу '<%= params[:q] %>' ничего не найдено
  <% end %>
<% end %>

