<% cache comment, expires_in: 5.minutes do %>
  <div class="media comment">
    <div class="media-left">
      <%= image_tag gravatar_url(comment.user.email, size: 35), class: "media-object", width: 35, height: 35 %>
    </div>
    <div class="media-body">
      <h4 class="media-heading">
        <%= comment.user.name %>
        <%= link_to "#", "#comment_#{comment.id}", data: { turbolinks: false } %>
        <small><%= smart_date comment.created_at %></small>
      </h4>

      <% if ab_variant? %>
        <em><%= link_to text_short(comment.comment, 120), comment_path(comment) %></em>
      <% else %>
        <em><%= link_to typography("\"#{comment.commentable.title}\""), comment_path(comment) %></em>
      <% end %>
    </div>
  </div>
<% end %>
