<center>
  <%= snippet :above_header %>
</center>

<div class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to snippet(:logo) || snippet(:site_name) || "Mazavr", root_path, class: 'navbar-brand', title: "Обновлено #{l Post.order("created_at DESC").first.created_at, format: "%e %b %Y" rescue nil}" %>
    </div>
    <div class="navbar-collapse collapse navbar-responsive-collapse">
      <ul class="nav navbar-nav">
        <li><%= link_to 'Новое', posts_path %></li>
        <li><%= link_to 'Популярное', posts_path(top: 1) %></li>
        <li class="dropdown">
          <a href="#" data-target="navbar__submenu" class="dropdown-toggle" data-toggle="dropdown">Еще<b class="caret"></b></a>
          <ul class="dropdown-menu navbar__submenu">
            <li><%= link_to 'Блоги', blogs_path %></li>
            <li><%= link_to 'Рейтинг', rating_path %></li>
          </ul>
        </li>
      </ul>
      <%= form_tag '/search', method: :get, class: 'navbar-form navbar-right' do %>
        <div class="form-group">
          <input name='q' type="text" class="form-control col-md-8" placeholder="Поиск">
        </div>
      <% end %>
    </div>
  </div>
</div>
