<nav class="mdl-navigation">
  <%= link_to 'Главная', root_path, class: 'mdl-navigation__link' %>
  <%= link_to 'Новое', posts_path, class: 'mdl-navigation__link' %>
  <%= link_to 'Популярное', posts_path(top: 1), class: 'mdl-navigation__link' %>
  <%= link_to 'Рейтинг', rating_path, class: 'mdl-navigation__link' %>
  <%= link_to 'Блоги', blogs_path, class: 'mdl-navigation__link' %>
</nav>
