<% content_for :head_include do %>
   <link rel="canonical" href="<%= root_url %>" />
<% end %>

<div class="well">
  <div class="row">
    <% @posts_top.includes(:blog).take(3).each do |post| %>
      <div class="col-sm-4">
        <%= cell("posts/high", post) %>
      </div>
    <% end %>
  </div>

  <% cache :most_discussed, expires_in: 5.minutes do %>
    <%= cell('most_discussed').(:horizontal) %>
  <% end %>

  <div class="row">
    <div class="col-sm-4">
      <%= cell('posts/ads') %>

      <% cache [@posts_recent, :recent] do %>
        <%= cell("posts/text_block", @posts_recent.includes(:blog)[0..5]) %>
      <% end %>
    </div>
    <% @posts_featured.in_groups(2, false) do |posts| %>
      <div class="col-sm-4">
        <% cache [posts, :featured] do %>
          <%= cell("posts/triple", Post.where(id: posts).includes(:blog)) if posts.size == 3 %>
        <% end %>
        <hr />
      </div>
    <% end %>
  </div>

  <div class="row">
    <% (@posts_recent.includes(:blog)[6..-1] || []).in_groups(3, false) do |posts| %>
      <div class="col-sm-4">
        <% cache [posts, :text_block] do %>
          <%= cell("posts/text_block", posts) %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
