<% content_for(:meta_title, strip_tags(typography(@article.title))) %>

<br />
<div class="well article-preview">
  <h1>
    <%= link_to typography(@article.title), @url, target: "_blank"  %>
  </h1>
  <p class="description">
    <% if @image.present? %>
      <%= image_tag @image, class: "thumbnail" %>
    <% end %>

    <%= text_short(@article.content, 320) %>
    
    <%= link_to t(".read_full"), @url, target: "_blank"  %>
  </p>
</div>

<%= snippet "after_outbound_preview" %>


<%= render partial: "shared/posts_table", locals: { posts: @posts } %>
