<a href="#comments" name="comments"></a>

<% if comments.present? %>
  <h2><%= t ".comments" %></h2>

  <div class="comments">
    <% for comment in comments.includes(:user, :commentable) %>
      <a href="#comment_<%= comment.id %>" name="comment_<%= comment.id %>"></a>
      <%= render partial: 'shared/comment', locals: { comment: comment } %>
    <% end %>
  </div>
<% end %>

<%= render "new_comment_form" %>
