<a href="#comments" name="comments"></a>

<% if comments.present? %>
  <h2><%= t ".comments" %></h2>

  <div class="comments">
    <% for comment in comments.includes(:user, :commentable) %>
      <a href="#comment_<%= comment.id %>" name="comment_<%= comment.id %>"></a>
      <%= render partial: 'shared/comment', locals: { comment: comment } %>
    <% end %>
  </div>
<% end %>

<% if signed_in? %>
  <%= render "new_comment_form" %>
<% else %>
  <div class="well">
    Только <%= link_to 'зарегистрированные', new_user_registration_path %> пользовати могут оставлять комментарии.

    <br/>
    <%= link_to 'Войти', new_user_session_path, class: 'btn btn-primary' %>
    <%= link_to 'Зарегистрироваться', new_user_registration_path, class: 'btn btn-default' %>
  </div>
<% end %>
