<div itemscope itemtype="http://schema.org/BlogPosting">
  <%= render :partial => 'meta_tags' %>
  <div class="mdl-grid">
    <div class="main-card mdl-card mdl-shadow--4dp mdl-cell mdl-cell--12-col">
      <div class="section mdl-card__media main-card__header mdl-color-text--grey-50">
        <h1 class='mdl-typography--display-1'><%= typography(@post.title) %></h1>
      </div>

      <div class="section mdl-color-text--grey-700 mdl-card__supporting-text main-card__meta">
        <span class="mdl-chip mdl-chip--contact item">
          <% if @post.blog.avatar_url.present? %>
            <%= image_tag(@post.blog.avatar_url, class: 'mdl-chip__contact')  %>
          <% else %>
            <%= image_tag asset_path('avatar_guest.png'), class: 'mdl-chip__contact' %>
          <% end %>

          <span class="mdl-chip__text">
            <%= link_to blog_path(@post.blog.slug) do %>
              <%= @post.blog.title %>
            <% end %>
          </span>
        </span>

        <span class='date item'>
          <i class="material-icons">date_range</i>
          <%= format_date(@post.created_at, time: false) %>
        </span>

        <% if policy(@post).update? %>
          <% link_to "Edit", "/admin/rails_admin/post/#{@post.id}/edit", class: 'mdl-button mdl-js-button mdl-button--raised mdl-button--colored mdl-js-ripple-effect' %>
        <% end %>

        <span class='item'>
          <%= comments_link @post, without_comments: true %>
        </span>
      </div>

      <div class="section mdl-card__supporting-text main-card__body">

        <div class="mdl-grid">
          <div class="mdl-cell mdl-cell--9-col">
            <%= render :partial => 'body' %>
          </div>
          <div class="mdl-cell mdl-cell--3-col">
            <center>
              <%= snippet :post_right_tower, adult: @post.has_picture? %>
            </center>
          </div>
        </div>

      </div>

      <div class="section mdl-card__supporting-text main-card__footer">
        <%= render :partial => 'tags' %>

        <% if @post.source_url.present? %>
          <%= link_to @post.source_url do %>
            <span class="mdl-chip mdl-chip--contact mdl-chip--deletable">
              <%= image_tag favicon_url(@post.source_url), class: 'mdl-chip__contact' %>
              <span class="mdl-chip__text">
                <%= URI(@post.source_url).host %>
              </span>
            </span>
          <% end %>
        <% end %>
      </div>

    </div>
  </div>
  <%= counter_tag @post.id %>
</div>
