<a href="#comments" name="comments"></a>

<% if @comments.present? %>
  <h2><%= t ".comments" %></h2>

  <div class="comments">
    <% for comment in @comments %>
      <a href="#comment_<%= comment.id %>" name="comment_<%= comment.id %>"></a>
      <div class="comment well" id="comment-<%= comment.id %>">
        <div class="comment__header">
          <%= image_tag gravatar_url(comment.user.email, size: 35), class: "comment__avatar", width: 20, height: 20 %>
          <%= comment.user.name %>
          <%= flag_icon comment.user.country_code %>
          <%= link_to smart_date(comment.created_at), comment_path(comment) %>
        </div>
        <div class="comment__body">
          <%= simple_format comment.comment %>
        </div>
        <% if signed_in? && current_user.admin? %>
          <%= link_to 'Spam!', spam_comment_path(comment), class: 'btn btn-danger btn-xs mark-as-spam', method: :put %>
        <% end %>
      </div>
    <% end %>
  </div>
<% end %>

<h2><%= t ".leave_comment" %></h2>

<div class="well">
  <%= simple_form_for Comment.new, html: { id: "comments_form", class: :form } do |f| %>
    <%= hidden_field_tag :post_id, @post.id %>
    <%= f.input :comment, label: false, input_html: { rows: 8 } %>

    <%= f.simple_fields_for :user_attributes, current_user do |f| %>
      <% if signed_in? %>
        <%= f.input :name, as: :hidden %>
        <%= f.input :email, as: :hidden %>
      <% else %>
        <%= f.input :name, label: t(".your_name"), input_html: { class: "name memorized-field" } %>
        <%= f.input :email, as: :email, label: t(".email"), input_html: { class: "name memorized-field" } %>
      <% end %>
    <% end %>

    <% unless (signed_in? && !current_user.flagged?) %>
      <div style='margin-bottom: 12px'>
        <%= recaptcha_tags rescue "Can't render captcha widget" %>
      </div>
    <% end %>

    <div class='form-group'>
      <div class="checkbox">
        <%= label_tag :subscribe do %>
          <%= check_box_tag :subscribe, 1, true %>
          <%= t('.subscribe') %>
        <% end %>
      </div>
    </div>

    <%= f.button :submit, t(".send"), class: "btn-primary btn-lg" %>

    <% if signed_in? %>
      как
      <%= current_user.name  %>
      (<%= link_to 'Выйти', destroy_user_session_path, method: :delete %>)
    <% end %>
  <% end %>

</div>
