<div class="well">
  <%= render partial: 'title', locals: { title: params[:top] ? 'Популярное' : 'Новое' } %>

  <ol class="breadcrumb">
    <li>
      <%= link_to(t(:all).mb_chars.capitalize, posts_path)  %>
    </li>
    <% if @posts.first_page? %>
      <li class="active"><%= params[:top] ? 'Популярное' : 'Новое' %></li>
    <% else %>
      <li><%= link_to (params[:top] ? 'Популярное' : 'Новое'), page: nil %></li>
      <li class="active">Страница <%= @posts.current_page %></li>
    <% end %>
  </ol>

  <%= render :partial => "posts/list", :locals => { :posts => @posts } %>

  <%= paginate @posts %>
</div>
