<div class="well">
  <% if params[:before].present? %>
    <%= render partial: 'title_with_date', locals: { title: raw("#{params[:top] ? 'Популярное' : 'Новое'} до #{format_date Time.at(params[:before].to_f)}") } %>
  <% else %>
    <%= render partial: 'title', locals: { title: params[:top] ? 'Популярное' : 'Новое' } %>
  <% end %>

  <hr />

  <%= render :partial => "posts/list", :locals => { :posts => @posts } %>

  <ul class='pager'>
    <% if Post.older_than(@posts.last.try(:created_at)).exists? %>
      <li class='next pull-left'>
        <%= link_to("#{t(:more_stories).mb_chars.capitalize} →", url_for(:before => @posts.last.created_at.to_f, :top => params[:top]), :class => "")  %>
      </li>
    <% else %>
      <li class='next pull-left disabled'>
        <%= link_to("#{t(:more_stories).mb_chars.capitalize} →", "#", :class => "disabled")  %>

      </li>
    <% end %>
  </ul>
</div>
