<% content_for(:meta_title, strip_tags(@post.title)) %>

<% content_for :share_description do %>
  <%= render :partial => "shared/share_description", :locals => { :title => strip_tags(@post.title), :url => smart_post_url(@post), :text => @post.body, :image => @post.picture_url } %>
<% end %>

<div itemscope itemtype="http://schema.org/BlogPosting">
  <%= render :partial => 'meta_tags' %>
<div class="mdl-grid">
	<div class="main-card mdl-card mdl-shadow--4dp mdl-cell mdl-cell--12-col">
		<header class="mdl-card__media main-card__header mdl-color-text--grey-50">
			<h1 class='mdl-typography--display-1'><%= typography(@post.title) %></h1>
		</header>

    <section class="mdl-color-text--grey-700 mdl-card__supporting-text main-card__meta">
      <span class="mdl-chip mdl-chip--contact item">
        <% if @post.blog.avatar_url.present? %>
          <%= image_tag(@post.blog.avatar_url, class: 'mdl-chip__contact')  %>
        <% else %>
          <%= image_tag asset_path('avatar_guest.png'), class: 'mdl-chip__contact' %>
        <% end %>

        <span class="mdl-chip__text">
          <%= link_to blog_path(@post.blog.slug), rel: 'nofollow' do %>
            <%= @post.blog.title %>
          <% end %>
        </span>
      </span>

      <span class='date item'>
        <i class="material-icons">date_range</i>
        <%= format_date(@post.created_at, time: false) %>
      </span>

      <% if policy(@post).update? %>
        <% link_to "Edit", "/admin/rails_admin/post/#{@post.id}/edit", class: 'mdl-button mdl-js-button mdl-button--raised mdl-button--colored mdl-js-ripple-effect' %>
      <% end %>

      <span class='item'>
        <%= comments_link @post, without_comments: true %>
      </span>
    </section>

		<section class="mdl-color-text--grey-700 mdl-card__supporting-text main-card__body">
      <%= render :partial => 'body' %>
    </section>

		<footer class="mdl-color-text--grey-700 mdl-card__supporting-text main-card__footer">
      <%= render :partial => 'tags' %>

      <% if @post.source_url.present? %>
        <%= link_to @post.source_url do %>
          <span class="mdl-chip mdl-chip--contact mdl-chip--deletable">
            <%= image_tag favicon_url(@post.source_url), class: 'mdl-chip__contact' %>
            <span class="mdl-chip__text">
              <%= URI(@post.source_url).host %>
            </span>
          </span>
        <% end %>
      <% end %>
    </footer>

	</div>
</div>

<%= counter_tag @post.id %>

<hr />

<%= snippet :below_article, :url => smart_post_url(@post), adult: @post.has_picture? %>

<div class="row">
  <div class="col-sm-6">
    <div>
      <%= render partial: "comments", locals: { comments: @post.comments.order(:created_at) } %>
    </div>
  </div>
  <div class="col-sm-6">
    <%= render partial: 'most_discussed_vertical', locals: { posts: Post.newer_than(1.week.ago).where.not(id: @post).most_discussed.limit(9) } %>
  </div>
</div>

<br />
<br />

<h2><%= t(:recent_comments) %></h2>

<br />
  
<div class="row">
  <% Comment.recent.not_for(@post).limit(20).in_groups(2, false).each do |comments| %>
    <div class="col-sm-6">
      <%= render partial: "shared/recent_comments", locals: { comments: comments } %>
    </div>
  <% end %>
</div>

<br />

<%= render "read_more" %>

<%= snippet :below_comments, :url => smart_post_url(@post), adult: @post.has_picture? %>
