<% content_for(:meta_title, strip_tags(@post.title)) %>

<% content_for :share_description do %>
  <%= render :partial => "shared/share_description", :locals => { :title => strip_tags(@post.title), :url => smart_post_url(@post), :text => @post.body, :image => proxy_image_url(@post.picture_url) } %>
<% end %>

<div itemscope itemtype="http://schema.org/BlogPosting" class='well'>
  <%= render :partial => 'meta_tags' %>

  <h1><%= @post.title %></h1>

  <%= cell('posts/controls', @post.id) %>

  <%= render :partial => 'tags' %>

  <hr />

  <%= link_to @post.blog.title, blog_path(@post.blog.slug), class: 'blog_link' %>,

  <%= time_or_date @post.created_at %>

  <% if @post.source_url.present? %>
    &nbsp;
    –
    &nbsp;
    <%= link_to @post.source_url, title: t(:original), target: '_blank', class: 'no-decoration', rel: ('nofollow' unless @post.index_source?) do %>
      <%= favicon_icon(@post.source_url) %>
      <span class='source-url-host'><%= host_from_url @post.source_url %></span>
    <% end %>
  <% end %>

  <%= cell('posts/comments_link', @post.id) %>

  <br />
  <br />
  <br />

  <table width="100%">
    <tr>
      <td width="100%" valign="top">
        <%= render :partial => 'body' %>
      </td>
      <td valign="top" class="visible-lg visible-md" style="padding-left: 15px">
        <%= snippet :post_right_tower %>
      </td>
    </tr>
  </table>


  <%= counter_tag @post.id %>
</div>

<hr />

<%= snippet :below_article %>

<div class="well">
  <%= render "disqus" %>
</div>

<%= render "read_more" %>

<%= snippet :below_comments %>
