<h1>Health</h1>

<table class='table blogs-health'>
  <tr>
    <th>ID</th>
    <th>Title</th>
    <th>Fetches</th>
    <th>Feed</th>
    <th>Checked At</th>
    <th>Posts per Hour</th>
    <th>Health</th>
  </tr>
  <% @blogs.order('health_status DESC').each do |blog| %>
    <tr>
      <td><%= blog.id %></td>
      <td><%= blog.title %></td>
      <td>
        <% blog.recent_fetches.each do |fetch| %>
          <%= content_tag :span, title: fetch[1] do %>
            <% if fetch[0] == Blog::FETCH_SUCCESS %>
              <%= glyphicon :ok %>
            <% else %>
              <%= glyphicon :remove %>
            <% end %>
          <% end %>
        <% end %>
      </td>
      <td><%= link_to :feed, blog.feed_url %></td>
      <td><%= blog.checked_at.present? ? smart_date(blog.checked_at) : 'Never'  %></td>
      <td><%= blog.posts_per_hour.round(2) rescue 0 %></td>
      <td><%= blog.health_status %></td>
    </tr>
  <% end %>
</table>
