<%= simple_form_for(@post, url: action_url) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :blog_id, as: :select, collection: blogs, required: true, label: 'Блог' %>
    <%= f.input :title, label: 'Заголовок' %>

    <label>
      <strong>Текст:</strong><br /><br />
      <%= f.text_area :body, { class: 'editable' } %>
    </label>
  </div>

  <br /><br /><br />

  <div class="form-actions">
    <%= f.button :submit, 'Сохранить', class: 'btn btn-primary' %>
    <%= link_to 'Отменить', { action: :index }, class: 'btn btn-default' %>
  </div>
<% end %>

<script src="//cdn.jsdelivr.net/npm/medium-editor@latest/dist/js/medium-editor.min.js"></script>
<link rel="stylesheet" href="//cdn.jsdelivr.net/npm/medium-editor@latest/dist/css/medium-editor.min.css" type="text/css" media="screen" charset="utf-8">

<script>var editor = new MediumEditor('.editable');</script>
