<p id="notice"><%= notice %></p>

<div class="well">
  <strong><%= @post.blog.title %></strong>
  <h1><%= @post.title %></h1>

  <div class="body">
    <%= raw @post.body.gsub(/http:/, '') %>
  </div>

  <%= link_to 'Edit', action: :edit, id: @post %> |
  <%= link_to 'Back', action: :index %>
</div>

