<!DOCTYPE html>
<html>
<head>
  <% if @ab_test.present? %>
    <%= raw @ab_test.ga_code %>
  <% end %>

  <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:300,400,500,700" type="text/css">

  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="shortcut icon" href="<%= snippet(:favicon_url) || '/favicon.ico' %>" type="image/x-icon">
  <link rel="icon" href="<%= snippet(:favicon_url) || '/favicon.ico' %>" type="image/x-icon">

  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= csrf_meta_tags if session.present? %>

  <%= auto_discovery_link_tag :atom, posts_url(:format => :atom), :title => t(:recent_posts).mb_chars.capitalize %>

  <%= render :partial => 'shared/js_core' %>
  <%= render :partial => 'shared/google_analytics' %>
  <%= send_ga_events %>

  <title><%= yield(:meta_title).presence || snippet(:meta_title) %></title>
  <%= yield(:share_description) %>

  <%= yield(:head_include) %>

  <style>
    <%= snippet :css_styles %>
  </style>

  <%= snippet :head %>
  <%= Gon::Base.render_data %>
</head>
<body>
<%= snippet :after_body_tag %>

  <!-- Uses a header that contracts as the page scrolls down. -->
  <div class="layout-waterfall mdl-layout mdl-js-layout">
    <%= render :partial => 'shared/header' %>

    <div class="mdl-layout__drawer">
      <span class="mdl-layout-title">Русский пульс</span>
      <%= render partial: "shared/navigation" %>
    </div>

    <main class="mdl-layout__content">
      <div class="page-content"><!-- Your content goes here -->
        <%= yield %>
      </div>
    <%= render partial: "shared/footer" %>
    </main>


    <div>
      <%= snippet :bottom %>
    </div>

  </div>

  <%= javascript_include_tag 'application', data: { 'turbolinks-eval' => false } %>
</body>
</html>
