<!DOCTYPE html>
<html>
<head>
  <% if @ab_test.present? %>
    <%= raw @ab_test.ga_code %>
  <% end %>
  <link href='https://fonts.googleapis.com/css?family=PT+Serif:400,700,700italic,400italic&subset=latin,cyrillic' rel='stylesheet' type='text/css'>

  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="shortcut icon" href="<%= snippet(:favicon_url) || '/favicon.ico' %>" type="image/x-icon">
  <link rel="icon" href="<%= snippet(:favicon_url) || '/favicon.ico' %>" type="image/x-icon">

  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= csrf_meta_tags if session.present? %>

  <%= auto_discovery_link_tag :atom, posts_url(:format => :atom), :title => t(:recent_posts).mb_chars.capitalize %>

  <%= render :partial => 'shared/js_core' %>
  <%= render :partial => 'shared/google_analytics' %>
  <%= send_ga_events %>

  <title><%= yield(:meta_title).presence || snippet(:meta_title) %></title>
  <%= yield(:share_description) %>

  <%= yield(:head_include) %>

  <style>
    <%= snippet :css_styles %>
  </style>

  <%= snippet :head %>
  <%= Gon::Base.render_data %>
</head>
<body>
<%= snippet :after_body_tag %>

  <div class="container">
    <%= render :partial => 'shared/header' %>

    <div class="row" style="min-height: 430px">
      <div class="col-md-12">
        <div class="controller-<%= params[:controller].gsub('/', '-') %> action-<%= params[:controller].gsub('/', '-') %>-<%= params[:action] %>">

          <%= yield %>
        </div>
      </div>
    </div>
    <hr />
    <div class="row">
      <div class="col-md-12">
        <div class="footer">
          <%= Time.now.year %> &copy; <%= snippet(:site_name) || "Mazavr" %>
          • 
          <%= link_to t(:about).mb_chars.capitalize, about_path %>
          • 
          <%= link_to t(:archive).mb_chars.capitalize, archive_path %>
          • 
          <%= link_to t(:search).mb_chars.capitalize, search_path %>
          <%= snippet :bottom_menu %>
        </div>
        <br />
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <%= snippet :bottom %>
      </div>
    </div>
  </div>

  <%= javascript_include_tag 'application', data: { 'turbolinks-eval' => false } %>
</body>
</html>
